<script src="js/materialize/init.js"></script>
<div ng-include="'templates/_nav.html'"></div>

<main class="container">

    <usuarios users="alunos"></usuarios>

    <div class="row">
        <input type="text" ng-model="busca.nome" placeholder="Busca">
    </div>

    <div class="row">
        <table class="striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Nota1</th>
                <th>Nota2</th>
                <th>Nota3</th>
                <th>Média</th>
                <th>Ação</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="aluno in alunos | filter:busca">
                <td>{{aluno.nome}}</td>
                <td>{{aluno.email}}</td>
                <td>{{aluno.nota1}}</td>
                <td>{{aluno.nota2}}</td>
                <td>{{aluno.nota3}}</td>
                <td>{{aluno.media}}</td>
                <td>
                    <button class="btn blue" ng-click="abreEditAluno(aluno)">Editar</button>
                    <button class="btn red" ng-click="deletarAluno(aluno)">Deletar</button>
                </td>

            </tr>
            </tbody>


        </table>
    </div>
    <div class="row">
        <a ng-click="abreAddAluno()" class="waves-effect waves-light btn">Adicionar</a>
    </div>

</main>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 ng-if="!editando">Adicionar Aluno</h4>
        <h4 ng-if="editando">Editar Aluno</h4>
        <p>Preencha os dados do Aluno</p>

        <div class="row">
            <div class="input-field col s6">
                <input  type="text" ng-model="Aluno.nome" class="validate" placeholder="nome">

            </div>
            <div class="input-field col s6">
                <input type="text" ng-model="Aluno.email" class="validate" placeholder="email">

            </div>
            <div class="input-field col s6">
                <input type="text" ng-model="Aluno.nota1" class="validate" placeholder="nota1">

            </div>

            <div class="input-field col s6">
                <input type="text" ng-model="Aluno.nota2" class="validate" placeholder="nota2">

            </div>

            <div class="input-field col s6">
                <input type="text" ng-model="Aluno.nota3" class="validate" placeholder="nota3">

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a ng-if="!editando" ng-click="addAluno(Aluno)" class="waves-effect waves-light btn blue" >Adicionar</a>
        <a ng-if="editando" ng-click="salvarAluno(Aluno)" class="waves-effect waves-light btn blue">Salvar</a>
    </div>
</div>

