<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro Funcionário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" >
                </div>
                <div class="mb-3">
                    <label for="sobrenome" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" >
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" >
                </div>
                <div class="mb-3">
                    <label for="cpf" class="form-label">Cpf</label>
                    <input type="text" class="form-control" id="cpf" >
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupCargos">Selecione seu Cargo</label>
                    <select class="form-select" id="inputGroupCargos">
                        <option disabled selected>Cargo</option>
                        <option value="1">Supervisor</option>
                        <option value="2">Gerente</option>
                        <option value="3">Analista</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label for="repeatSelect"> Repeat select: </label>
                    <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
                        <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button ng-click="teste()" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>